* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.canvas-interactive-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 45rem;
  overflow: hidden;
  text-align: center;
}

.canvas-interactive-wrapper canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.canvas-interactive-wrapper .cta-wrapper {
  margin-top: 130px;
  display: flex;
  min-height: 20rem;
  flex-direction:column;
  align-items:center;
  justify-content: space-around;
}

.canvas-interactive-wrapper .cta-wrapper h1, #timerJS {
  position: relative;
  display: inline-block;
  padding: 3px 7px;
  border: solid 1px transparent;
  z-index: 1;
  text-decoration: none;
  color: #222;
  transition: border .3s;
}
